@dp:registry=http://r.npm.sankuai.com/
@mtfe:registry=http://r.npm.sankuai.com/
@hfe:registry=http://r.npm.sankuai.com/
@osx:registry=http://r.npm.sankuai.com/
disturl=http://r.npm.sankuai.com
registry=http://r.npm.sankuai.com/
