@dp:registry=http://r.npm.{{ mtHost }}/
@mtfe:registry=http://r.npm.{{ mtHost }}/
@hfe:registry=http://r.npm.{{ mtHost }}/
@osx:registry=http://r.npm.{{ mtHost }}/
disturl=http://r.npm.{{ mtHost }}
registry=http://r.npm.{{ mtHost }}/
