html {
  font-family: PingFangSC, PingFangSC-Regular, 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: 1px;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #2c3e50;
  background: #f7f8fc;
  box-sizing: border-box;
  min-width: 1200px;
  
}

body {
  font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, iframe {
  margin: 0;
  padding: 0;
}

img, article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

fieldset, img {
  border: 0;
}

address, caption, cite, dfn, em, th, var, i, em {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}
